.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0%;
  left: 0%;
}

.techlines {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.white {
  background-color: white;
}

.centerParent {
  position: relative;
  top: 10%;
  text-align: center;
}

.home {
  height: 100%;
}

.parallax {
  background: url("https://www.mercy.edu/sites/default/files/2020-07/iStock-1182604339.jpg")
    no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  margin: 0;
  padding: 0;
}

#title {
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}






div {
  cursor: none;
}