body {
  text-align: center;
  justify-content: center;
}

.App {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.paragraph {
  font-size: 20px;
  width: 55%;
  margin: 0 auto;
}

div {
  color: white;
}
