/*
.App {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  background-color: rgb(255, 255, 255);
  height: 100%;
}

.paragraph {
  font-size: 20px;
  width: 60%;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  line-height: 2.5;
  margin: 0 auto;
  border-radius: 1px;
}

.indent {
  margin-left: 30%;
}

div {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}


html.enabled {
  overflow-y: auto;
}
