.st0 {
  fill: #fefefe;
}
.st1 {
  fill: #cbcbcc;
}
.st2 {
  fill: #e1e1e1;
}
.st3 {
  fill: #9e9e9e;
}
.st4 {
  fill: #adadae;
}
.st5 {
  fill: #bebebe;
}
.st6 {
  fill: #55575e;
}
.st7 {
  fill: #0e0e0e;
}
.st8 {
  fill: #5869d5;
}
.st9 {
  fill: #6273d9;
}
.st10 {
  fill: #95a1e9;
}
.st11 {
  fill: #a0abec;
}
.st12 {
  fill: #b1baf2;
}
.st13 {
  fill: #7281de;
}
.st14 {
  fill: #8996e5;
}
.st15 {
  fill: #7d8ae1;
}
