.cursor {
    height: 20px; width: 20px;
    border-radius: 20px;
    z-index: 100;
    pointer-events: none;
}

.trail {
    height: 30px; width: 30px;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    z-index: 100;
    pointer-events: none;
}

.cursor.light {
    background: white;
}

.trail.light {
    border-color: white;
}

.cursor.dark {
    background: black;
}

.trail.dark {
    border-color: black;
}